@import url('../tokens.css');

/* DEFAULTS */
body {
  color: var(--uxCGreys900);
  max-width: 860px;
  margin: 0px;
  padding: 0px;
  font-size: var(--fontSize0);
  line-height: 1.2;
}

/* PAGE STRUCTURE */
.pageContents {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.caseStudyWrapper {
  width: 50%;
  float: left;
}

/* Typography */
h1 {
  font-family: var(--fontFamilyDisplay);
  font-size: var(--fontSize9);
  font-weight: var(--fontWeightBlack);
  color: var(--uxCGreys900);
  border-bottom: var(--borderWidthDefault) var(--borderStyleDefault) var(--uxCGreys900);
}

h2 {
  font-family: var(--fontFamilyDisplay);
  font-size: var(--fontSize6);
  font-weight: var(--fontWeightExtrabold);
  line-height: var(--fontLineHeightTight);
  color: var(--uxCGreys900);
  padding-top: var(--spacingSpaceXL);
  padding-bottom: var(--spacingSpaceXL);
  border-bottom: var(--uxCGreys400) 1px solid;
  border-top: var(--uxCGreys400) 1px solid;
}

.introduction p,
.introduction ul li {
  font-family: var(--fontFamilyDisplay);
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSize2);
  color: var(--uxCGreys700);
  margin-top: var(--spacingSpaceXL);
}

.introduction ul li {
  margin-top: 0px;
}

h3 {
  font-family: var(--fontFamilyDisplay);
  font-size: var(--fontSize3);
  font-weight: var(--fontWeightRegular);
  color: var(--uxCGreys900);
  padding: var(--spacingSpaceZero);
  margin: var(--spacingSpaceZero);
  line-height: 1.3;
}

h3 strong {
  font-weight: var(--fontWeightBlack);
}

h4 {
  font-family: var(--fontFamilyDisplay);
  font-size: var(--fontSize3);
  font-weight: var(--fontWeightExtrabold);
  color: var(--uxCGreys900);
  margin-top: var(--spacingSpace2XL);
  margin-bottom: var(--spacingSpaceZero);
}

p {
  font-family: var(--fontFamilyBody);
  color: var(--uxCGreys900);
  margin-top: var(--spacingSpaceXL);
  line-height: 1.5;
}

p em {
  display: block;
  font-size: var(--fontSize-1);
  line-height: var(--fontLineHeightNormal);
  color: var(--uxCGreys500);
}

ul,
ol {
  padding-left: 20px;
  margin-bottom: var(--spacingSpaceXL);
}

li {
  font-family: var(--fontFamilyBody);
  color: var(--uxCGreys900);
  line-height: 1.5;
}

hr {
  border: none;
  border-top: var(--borderWidthDefault) var(--borderStyleDefault) var(--uxCGreys300);
}