@import url('../tokens.css');


* {
  color: var(--uxC__greys-900);
  max-width: 860px;
  margin: 0px;
  padding: 0px;
}


h1 {
  font-family: var(--font-family-display);
  font-size: var(--font-size-9);
  font-weight: var(--font-weight-black);
  color: var(--uxC__greys-900);
  border-bottom: var(--border-width-default) var(--border-style-default) var(--uxC__greys-900);
}

h2 {
  font-family: var(--font-family-display);
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-extrabold);
  line-height: var(--font-lineHeight-tight);
  color: var(--uxC__greys-900);
  padding-bottom: var(--spacing-space-L);
  margin-top: var(--spacing-space-L);
  margin-bottom: var(--spacing-space-XL);
  border-bottom: var(--border-width-default) var(--border-style-default) var(--uxC__greys-300);
}

.introduction p, .introduction ul li {
  font-family: var(--font-family-display);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineHeight-tight);
  color: var(--uxC__greys-700);
  margin-top: var(--spacing-space-XL); 
}

.introduction ul li
{
  margin-top: 0px;
}

.caseStudyWrapper {
  background-color: blueviolet;
  border: 10px dashed green;
}

h3 {
  font-family: var(--font-family-display);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineHeight-tight);
  color: var(--uxC__greys-900);
}

h3 strong {
  font-weight: var(--font-weight-black);
}

h4 {
  font-family: var(--font-family-display);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-extrabold);
  line-height: var(--font-lineHeight-tight);
  color: var(--uxC__greys-900);
  margin-top: var(--spacing-space-XL); 
}

p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-0);
  line-height: var(--font-lineHeight-normal); 
  color: var(--uxC__greys-900);
  margin-top: var(--spacing-space-XL); 
}

ul, ol {
   padding-left: 20px;
   margin-bottom: var(--spacing-space-XL); 
}

li {
  font-family: var(--font-family-body);
  font-size: var(--font-size-0);
  line-height: var(--font-lineHeight-normal);
  color: var(--uxC__greys-900);
}

hr {
  border: none;
  border-top: var(--border-width-default) var(--border-style-default) var(--uxC__greys-300);
}
